* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #f5f5f5;
	margin: 10px auto;
	font-family: "Roboto", sans-serif;
}

/* Navbar */
.nav-font:hover,
.nav-font:active {
	font-weight: bold;
	text-shadow: 1px 1px 1px orangered;
}

/* Bootstrap container, row, and columns */
.container {
	margin-top: 125px;
}
.row {
	text-align: center;
}
.col-sm {
	padding: 0;
}

/* Cell - card */
.card {
	text-align: center;
	margin: 0 auto;
	height: 425px;
	background-color: black;
}
.card:hover {
	box-shadow: 2px 2px 20px #080808;
	background-color: rgba(0, 0, 0, 0.39);
}

.card-title {
	font-size: 15px;
	font-weight: bold;
}
.movie-info {
	width: 90%;
	height: 100%;
	text-align: left;
}
.title-info:hover {
	box-shadow: none;
}
/* Adv Search inputs/select */
.adv-search-form {
	padding: 15px;
	color: #ebe4e4;
}
/* .adv-img {
	height: 98%;
} */
form {
	/* background-color: rgba(0, 0, 0, 0.178); */
	background-color: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.55),
		rgba(0, 0, 0, 0.75)
	);
}
.form-control,
.form-select {
	background-color: rgba(255, 255, 255, 0.55);
}
/* Adv Form, Add to Favs, and Contact me submit button*/
.btn-outline-secondary {
	color: #d4cfcf;
	border-color: orangered;
	border-radius: 5px;
}
.btn-outline-secondary:hover {
	background-color: orangered;
	border-color: orangered;
}
.btn-outline-secondary:active {
	border-color: orangered;
}

/* Navbar search button*/
.btn-outline-dark {
	color: #d4cfcf;
	border-color: orangered;
	border-radius: 10px;
}
.btn-outline-dark:hover {
	border-color: orangered;
}
.btn-outline-dark:active {
	border-color: black;
	text-shadow: 1px 1px 1px orangered;
}
/* Remove from Favs button */
.btn-outline-danger {
	color: #d4cfcf;
	border: none;
	border-radius: 5px;
}
.btn-outline-danger:hover {
	border-color: orangered;
	background-color: orangered;
	opacity: 1;
}
.btn-outline-danger:active {
	border-color: black;
	text-shadow: 1px 1px 1px orangered;
}

.form-control:focus,
.form-select:focus {
	border-color: orangered !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background-color: rgb(241, 235, 235);
}
.adv-title-info {
	margin: 0 auto;
	height: 100%;
	background-color: inherit;
	box-shadow: none;
}
.adv-title-info:hover {
	box-shadow: none;
}

.adv-col-2 {
	margin: 0 auto;
	height: 100%;
	background-color: black;
	padding: 0;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #4f4f4f;
}
a:hover {
	color: #000;
}
/* Title details page */
.genre-button {
	border-radius: 50px;
	border-color: orangered;
	background-color: black;
}
.movies {
	height: 100%;
	margin-bottom: 25px;
}
.trailer-input {
	opacity: 0;
}
.flashes {
	margin-top: 50px;
}
.flash-msg {
	text-align: center;
}
.error-404 {
	width: 470px;
	margin: 0 auto;
	padding: 10px;
	text-align: left;
}
h1 {
	color: #ebe4e4;
	font-weight: bolder;
}
.contact-me {
	width: 450px;
	margin: 50px auto;
	padding: 50px;
	text-align: left;
}
.contact-btn {
	width: 100%;
}
/* Footer */
footer {
	position: relative;
	border-top: 1px solid #4f4f4f;
	height: 40px;
	width: 100%;
}
.footer-nav {
	align-items: center;
	text-align: center;
	color: #4f4f4f;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.footer-link {
	margin: 0 auto;
	font-size: 14px;
	padding-top: 10px;
}
.name-footer {
	margin: 0 auto;
	font-size: 14px;
}
.social-media {
	margin-left: 10px;
}
label,
.form-select {
	color: #4f4f4f;
}
button {
	color: green;
}

/* Small devices*/

@media (max-width: 599px) {
	.bg-img {
		height: 95vh;
		width: 100%;
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.55),
				rgba(0, 0, 0, 0.5)
			),
			url("./img/Wallpaper1.png");
		background-size: cover;
		background-repeat: repeat-y;
	}
	main {
		margin-bottom: 150px;
	}
	.card-title {
		font-size: 20px;
	}
	.genre-button {
		font-size: 12px;
	}
	.card {
		height: auto;
		width: 220px;
		margin: 0 auto;
	}
	.card-img-top {
		height: 250px;
	}

	.adv-search-form {
		width: 350px;
		margin: 75px auto;
	}

	.adv-col-2 {
		width: 300px;
		height: 450px;
		margin: 0 auto;
	}
	.adv-col-3 {
		font-size: 15;
	}
}
/* tablet - large phones */
@media (min-width: 600px) {
	.bg-img {
		height: 120vh;
		width: 100%;
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.55),
				rgba(0, 0, 0, 0.5)
			),
			url("./img/Wallpaper1.png");
		background-size: cover;
		background-repeat: repeat-y;
	}
	main {
		margin-bottom: 100px;
	}
	.movie-info {
		padding: 5px;
		margin: 2px;
	}
	.card-title {
		font-size: 22px;
	}
	.genre-button {
		font-size: 13px;
	}
	.google-search {
		margin: 0;
	}
	.card {
		width: 250px;
	}
	.adv-search-form {
		width: 350px;
		margin: 100px auto;
	}
	.adv-col-2 {
		width: 150px;
	}
	.adv-col-3 {
		box-shadow: none;
		width: 350px;
		margin: 0 auto;
	}
}
/* Medium screens */
@media (min-width: 768px) {
	.bg-img {
		height: 130vh;
		width: 100%;
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.55),
				rgba(0, 0, 0, 0.75)
			),
			url("./img/Wallpaper1.png");
		background-size: cover;
		background-repeat: repeat-y;
	}
	.card-title {
		font-size: 25px;
	}
	.movies {
		margin-bottom: 20px;
	}
	.card {
		width: 225px;
	}
	.adv-search-form {
		width: 350px;
		margin: 100px auto;
	}
	.search-form-img {
		height: 550px;
	}
	main {
		margin-bottom: 500px;
	}
}
/* Big screens*/
@media (min-width: 992px) {
	.bg-img {
		height: 95vh;
		width: 100%;
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.5),
				rgba(0, 0, 0, 0.9)
			),
			url("./img/Wallpaper1.png");
		background-size: cover;
		background-repeat: repeat-y;
	}
	.card-title {
		font-size: 24px;
	}
	.movies {
		margin-bottom: 20px;
	}
	.adv-search-form {
		width: 350px;
		margin: 100px auto;
	}
	.search-result {
		width: 700px;
		margin: 0 auto;
	}
	.search-form-img {
		height: 550px;
	}
	main {
		margin-bottom: 500px;
	}
}

@media (min-width: 1200px) {
	.bg-img {
		height: 115vh;
		width: 100%;
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.5),
				rgba(0, 0, 0, 0.9)
			),
			url("./img/Wallpaper1.png");
		background-size: cover;
		background-position: unset;
		background-repeat: repeat-y;
	}
	.adv-search-form {
		width: 350px;
		margin: 100px auto;
	}
	main {
		margin-bottom: 500px;
	}
}
