<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'template.html' %}
    {% block head %}
    {{ super() }}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% for movie in movies.Search %}
    {% if movie.Title %}
    <div class="col-sm movies">
      <div class="card" style="width: 19rem;height:460px;">
        <a href="{{ url_for('movie_info', title_ID=movie.Title) }}">
          <img src="{{ movie.Poster | safe }}" class="card-img-top title-img img-fluid" alt="movie poster" name="image"
            style="height: 370px">
          <div class="card-body">
            <h5 class="card-title" name="name">
              {{ movie.Title | title | safe }}
            </h5>
          </div>
        </a>
      </div>
    </div>


    {% else %}
    <p>requested data not found</p>
    {% endif %}

    {% endfor %}

    {% endblock %}


  </body>
</html>
